SmartRollet.BusinessLogic/BusinessLogic.Concrete/Service References/RolletRepository/RolletRepository1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rollet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rollet" nillable="true" type="tns:Rollet" />
</xs:schema>