SmartRollet.BusinessLogic/BusinessLogic.Concrete/Service References/RolletRepository/RolletRepository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RolletRepository" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://data.smart-rollet.com/RolletRepository.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://data.smart-rollet.com/RolletRepository.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://data.smart-rollet.com/RolletRepository.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccess.Models.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRolletRepository_GetRollets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRollets" />
  </wsdl:message>
  <wsdl:message name="IRolletRepository_GetRollets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolletsResponse" />
  </wsdl:message>
  <wsdl:message name="IRolletRepository_UpdateRollet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRollet" />
  </wsdl:message>
  <wsdl:message name="IRolletRepository_UpdateRollet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRolletResponse" />
  </wsdl:message>
  <wsdl:message name="IRolletRepository_ChangePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePosition" />
  </wsdl:message>
  <wsdl:message name="IRolletRepository_ChangePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePositionResponse" />
  </wsdl:message>
  <wsdl:portType name="IRolletRepository">
    <wsdl:operation name="GetRollets">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolletRepository/GetRollets" message="tns:IRolletRepository_GetRollets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolletRepository/GetRolletsResponse" message="tns:IRolletRepository_GetRollets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRollet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolletRepository/UpdateRollet" message="tns:IRolletRepository_UpdateRollet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolletRepository/UpdateRolletResponse" message="tns:IRolletRepository_UpdateRollet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolletRepository/ChangePosition" message="tns:IRolletRepository_ChangePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolletRepository/ChangePositionResponse" message="tns:IRolletRepository_ChangePosition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRolletRepository" type="tns:IRolletRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRollets">
      <soap:operation soapAction="http://tempuri.org/IRolletRepository/GetRollets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRollet">
      <soap:operation soapAction="http://tempuri.org/IRolletRepository/UpdateRollet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePosition">
      <soap:operation soapAction="http://tempuri.org/IRolletRepository/ChangePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RolletRepository">
    <wsdl:port name="BasicHttpBinding_IRolletRepository" binding="tns:BasicHttpBinding_IRolletRepository">
      <soap:address location="http://data.smart-rollet.com/RolletRepository.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>