SmartRollet.RolletApi/RolletApi.Concrete/Service References/RolletManager/RolletManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRolletBlo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolletBlo" nillable="true" type="tns:RolletBlo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolletBlo" nillable="true" type="tns:ArrayOfRolletBlo" />
  <xs:complexType name="RolletBlo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LighterId" type="xs:int" />
      <xs:element minOccurs="0" name="LighterState" type="xs:int" />
      <xs:element minOccurs="0" name="RolletState" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolletBlo" nillable="true" type="tns:RolletBlo" />
</xs:schema>