SmartRollet.RolletApi/RolletApi.Concrete/Service References/RolletManager/RolletManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13349/RolletManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" />
  <xs:element name="GetRollet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="GetRolletResult" nillable="true" type="q1:RolletBlo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRollet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="rollet" nillable="true" type="q2:RolletBlo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRolletResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>