SmartRollet.RolletApi/RolletApi.Concrete/Service References/RolletManager/RolletManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RolletManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://domain.smart-rollet.com/RolletManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://domain.smart-rollet.com/RolletManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://domain.smart-rollet.com/RolletManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRolletManager_GetRollet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRollet" />
  </wsdl:message>
  <wsdl:message name="IRolletManager_GetRollet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolletResponse" />
  </wsdl:message>
  <wsdl:message name="IRolletManager_UpdateRollet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRollet" />
  </wsdl:message>
  <wsdl:message name="IRolletManager_UpdateRollet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRolletResponse" />
  </wsdl:message>
  <wsdl:portType name="IRolletManager">
    <wsdl:operation name="GetRollet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolletManager/GetRollet" message="tns:IRolletManager_GetRollet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolletManager/GetRolletResponse" message="tns:IRolletManager_GetRollet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRollet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolletManager/UpdateRollet" message="tns:IRolletManager_UpdateRollet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolletManager/UpdateRolletResponse" message="tns:IRolletManager_UpdateRollet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRolletManager" type="tns:IRolletManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRollet">
      <soap:operation soapAction="http://tempuri.org/IRolletManager/GetRollet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRollet">
      <soap:operation soapAction="http://tempuri.org/IRolletManager/UpdateRollet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RolletManager">
    <wsdl:port name="BasicHttpBinding_IRolletManager" binding="tns:BasicHttpBinding_IRolletManager">
      <soap:address location="http://domain.smart-rollet.com/RolletManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>