SmartRollet.BLL/Service References/RolletApi/RolletService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RolletApi.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RolletApi.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RolletDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolletDto" nillable="true" type="tns:RolletDto" />
</xs:schema>